@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden;   */
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: #EFF2F5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h4{
  font-size: 1.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto!important;
}
.mySwiper .swiper-wrapper{
  padding-top: 1.5rem;
  /* overflow-x: scroll; */
}
.swiper-button-prev, .swiper-button-next {
  color: #171717!important; /* Change the color of the arrow icon */
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1.4rem!important;
  font-weight: bold;
}

@media (max-width:640px) {
  .swiper{
    overflow-x: scroll!important;
  }
  .swiper::-webkit-scrollbar {
    display: none!important;
}
  .swiper-button-prev, .swiper-button-next{
    opacity: 0!important;
  }
}